<section id="section01" class="scroll">
       <!--<div class="center-div">
                <p><a class="top-select" href="" >Numbers</a><a class="top-select" href="" >Letters</a><a class="top-select" href="" >Sentences</a> </p>
                
        </div>--> 
      
<h1 data-splitting class="headline headline--float">Welcome !</h1>
    <a><span></span></a>

    <div class="area" >
      <ul class="circles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
      </ul>
</div >
</section>

  
  