
#start-button {
    background-color:lightgreen;
    height: 60px;
    width: 120px;
    font-size: 18px;
}
#end-button {
    background-color:lightgreen;
    height: 60px;
    width: 120px;
    font-size: 18px;
}
.buttons{
    text-align: center;
}

input {
    font-size: 20px;
    width: 200px;
    text-align: center;

  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
span{
text-align: center;
font-size: 18px;
}

mat-progress-bar{
    height: 7px;
}
.text-center{
    text-align: center;
    font-size: 18px;   
}