<section>
    <div class="section-title">
        <h2 id="title">Game modes</h2>
    </div>
    <div class="card-3-row">
    <mat-card>
       <br>
        <div class="card-title"><mat-card-title>123</mat-card-title></div>
        <br>
        <mat-card-content>
            <p class="subtitle">
              Numbers
            </p>
          </mat-card-content>
          <br>
        <mat-card-subtitle ><p class="level-easy">• Easy •</p></mat-card-subtitle>
        <mat-card-actions>
          <button mat-button routerLink="practice/numbers/select-level">Level select</button>
          
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <br>
         <div class="card-title"><mat-card-title>ABC</mat-card-title></div>
         <br>
         <mat-card-content>
             <p class="subtitle">
               Letters
             </p>
           </mat-card-content>
           <br>
         <mat-card-subtitle ><p class="level-medium">• Medium •</p></mat-card-subtitle>
         <mat-card-actions>
           <button mat-button>Level select</button>
           
         </mat-card-actions>
       </mat-card>

       <mat-card>
        <br>
         <div class="card-title"><mat-card-title>Hello.</mat-card-title></div>
         <br>
         <mat-card-content>
             <p class="subtitle">
                Sentences
             </p>
           </mat-card-content>
           <br>
         <mat-card-subtitle ><p class="level-hard">• Hard •</p></mat-card-subtitle>
         <mat-card-actions>
           <button mat-button>Level select</button>
           
         </mat-card-actions>
       </mat-card>
    </div>
    </section>